@font-face /*perintah untuk memanggil font eksternal*/ {
  font-family: "Metropolis";
  src: url("assets/font/Metropolis/Metropolis-Bold.otf"); /*memanggil file font eksternalnya di folder nexa*/
}

body {
  font-family: "Metrapolis";
}

h4 {
  color: #db3022;
}

.role {
  margin: 0;
  padding: 0;
}

.btn-group {
  border: 1px solid #db3022;
}

.cs {
  width: 123px;
  height: 48px;
  background-color: #db3022;
  color: #db3022;
}

.sl {
  color: white;
}

.btnSubmit {
  background-color: #db3022;
  height: 48px;
  border-radius: 25px;
  border: none;
  color: white;
}

#reg {
  color: #db3022;
}
